.pro img{
  width: 30%;
  height: 70%;
}

.nombre h5 {
    padding-top: 15%;
}

.mi-contenedor {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
  }
  
  .mi-contenedor p {
    text-align: center;
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.5;
  }

  .mi-contenedor h3 {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.5;
  }

.mi-button button{
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}